# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.log

# Virtual Environments
venv/
.venv/
env/
ENV/

# Environment Variables
.env
.env.*

# Python Build
build/
dist/
*.egg-info/
.eggs/

# Testing
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.mypy_cache/
.ruff_cache/

# ==========================
# Frontend (React / Vite)
# ==========================
node_modules/
dist/
frontend/node_modules/
frontend/dist/

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# Temporary Files
# ==========================
tempCodeRunnerFile.py